<div class="container-fluid">
	<div class="row">
		<div class="footer_elements">
			<div class="logo"><img src="../../../img/logo-white.svg" alt=""></div>
			<div class="copyright">Copyright © 1999-2018 Absolute Web Services, Inc. All rights reserved.</div>
			<div class="social">
				<a href="https://www.facebook.com/absolutewebservices"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="https://twitter.com/AbsoluteWebINC"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="https://www.instagram.com/absolutewebservices/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				<a href="https://plus.google.com/+AbsoluteWebServices"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
				<a href="https://www.youtube.com/user/miamiwebdesignteam"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
</div>