<h2 class="filter_heading">Filter by price</h2>
<div class="checkbox">
	<label for="lower-than-20"><input type="checkbox" data-bind="checked: sidebar.filterPrice" value="0-20" id="lower-than-20">Lower than $20</label>
</div>
<div class="checkbox">
	<label for="20-to-30"><input type="checkbox" data-bind="checked: sidebar.filterPrice" value="20-30" id="20-to-30">$20 - $30</label>
</div>
<div class="checkbox">
	<label for="30-to-50"><input type="checkbox" data-bind="checked: sidebar.filterPrice" value="30-50" id="30-to-50">$30 - $50</label>
</div>
<div class="checkbox">
	<label for="50-and-above"><input type="checkbox" data-bind="checked: sidebar.filterPrice" value="50-Infinity" id="50-and-above">Above $50</label>
</div>