<my-header class="header" id="header"></my-header>
<my-toolbar class="toolbar" id="toolbar"></my-toolbar>
<div class="container-fluid">
	<div class="row">
		<div class="col-12 offset-md-0 col-md-3 col-lg-2 offset-lg-1">
			<sidebar class="sidebar" id="sidebar"></sidebar>
		</div>
		<div class="col-12 col-sm-9 col-md-9">
			<products class="products" id="products"></products>
		</div>
	</div>
</div>
<pagination id="pagination"></pagination>
<footer id="footer"></footer>

